

body {
  text-align: center;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

header h1 {
  text-align: center;
}

nav {
  text-align: center;
}

nav a {
  padding: 0px 10px;
  background-color: #e8e5dd;
}

p {
  text-align: center;
  margin: 0 auto;
}

#featured-property p {
  text-align: center;
  width: 800px;
}

 #details {
  display: flex;
  float: left;
  text-align: center;
  padding: auto;
}

/*div {
background-color: #e8e5dd;
text-align: center;
width: 25%;
height: 100%;
}*/
